<!--start breadcrumb-->
<div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="#/">Home</a></li>
          <li class="breadcrumb-item"><a href="#/products">Shop Grid</a></li>
          <li class="breadcrumb-item active" aria-current="page">Page Details</li>
        </ol>
      </nav>
    </div>
   </div>

   <!--end breadcrumb-->


   <!--start product details-->
   <section class="py-4">
    <div class="container">
       <div class="row g-4">
          <div class="col-12 col-xl-7">
            <div class="product-images">
              <div class="product-zoom-images">
                <div class="row row-cols-2 g-3">
                  {{#each imgs}}
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="{{url}}">
                      <img src="{{url}}" class="img-fluid" alt="">
                    </div>
                  </div>
                  {{/each}}
                </div><!--end row-->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="product-info">
                  <h4 class="product-title fw-bold mb-1">{{name}}</h4>
                  <p class="mb-0">{{name}}</p>
                  <div class="product-rating">
                    <div class="hstack gap-2 border p-1 mt-3 width-content">
                      <div><span class="rating-number">4.8</span><i class="bi bi-star-fill ms-1 text-warning"></i></div>
                      <div class="vr"></div>
                      <div>162 Ratings</div>
                    </div>
                  </div>
                  <hr>
                  <div class="product-price d-flex align-items-center gap-3">
                     <div class="h4 fw-bold">${{price}}</div>
                     <!-- <div class="h5 fw-light text-muted text-decoration-line-through">$2089</div>
                     <div class="h4 fw-bold text-danger">(70% off)</div>   -->
                  </div>
                  <p class="fw-bold mb-0 mt-1 text-success">inclusive of all taxes</p>
                    
                  <div class="cart-buttons mt-3">
                    <div class="buttons d-flex flex-column flex-lg-row gap-3 mt-4">
                      <a href="javascript:;" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 col-lg-6" onclick="addToCart({{id}})"><i class="bi bi-basket2 me-2"></i>Add to Bag</a>
                      <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                    </div>
                  </div>
                  <hr class="my-3">
                  <div class="product-info">
                    <h6 class="fw-bold mb-3">Product Details</h6>
                     <p class="mb-1">There are many variations of passages of Lorem Ipsum</p>
                     <p class="mb-1">All the Lorem Ipsum generators on the Internet tend to repeat</p>
                     <p class="mb-1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
                     <p class="mb-1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                  </div>
                  <hr class="my-3">
                  <div class="customer-ratings">
                    <h6 class="fw-bold mb-3">Customer Ratings</h6>
                      <div class="d-flex align-items-center gap-4 gap-lg-5 flex-wrap flex-lg-nowrap">
                        <div class="">
                          <h1 class="mb-2 fw-bold">4.8<span class="fs-5 ms-2 text-warning"><i class="bi bi-star-fill"></i></span></h1>
                          <p class="mb-0">3.8k Verified Buyers</p>
                        </div>
                        <div class="vr d-none d-lg-block"></div>
                        <div class="w-100">
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">5</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 75%"></div>
                            </div>
                            <p class="mb-0">1528</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">4</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                            </div>
                            <p class="mb-0">253</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">3</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 45%"></div>
                            </div>
                            <p class="mb-0">258</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">2</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 35%"></div>
                            </div>
                            <p class="mb-0">78</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">1</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"></div>
                            </div>
                            <p class="mb-0">27</p>
                          </div>
                        </div>
                      </div>
                  </div>

                  <hr class="my-3">
            </div>
          </div>
       </div><!--end row-->
    </div>
  </section>