@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
body {
  margin: 0;
  font-family: poppins;
  width: 100%;
}

.drawer-section {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #c6effe;
  padding-left: 25px;
  height: 90vh;
  width: 100vw;
  overflow-y: hidden;
  transform: translateY(83vh);
  transition: transform 1s;
}
.drawer-scroll {
  overflow-y: scroll;
  height: 90%;
}
.drawer-section.expand {
  transform: translateY(0);
}
.drawer-button {
  background-color: #c6effe;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 45px 12px 0;
  cursor: pointer;
}
.drawer-button .arrow-up {
  transform: rotate(180deg);
  transition: transform 1s;
}
.drawer-button h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.drawer-main-top {
  margin-top: 35px;
}
.drawer-main-top h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}
.drawer-slider-main {
  width: 100%;
  display: flex;
}

.drawer-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 90% 100%;
  grid-gap: 30px;
}

.left-col {
  display: flex;
  flex-direction: column;
}
.drawer-items-wrapper-top {
  width: 110%;
  border-radius: 2px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.drawer-items-wrapper-top::-webkit-scrollbar {
  display: none;
}

.item-card {
  flex: 0 0 auto;
  cursor: pointer;
  margin-right: 15px;
}
.item-pic {
  width: 125px;
  height: 140px;
  background-color: #fff;
  padding: 10px;
}
.small-item-pic {
  width: 90px;
  height: 105px;
}
.item-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-name {
  margin: 5px 0 0;
  font-weight: 700;
  font-size: 15px;
}
.price {
  font-size: 15px;
  font-weight: 500;
}
