
    .text-red {
        color: red;
    }

    .text-blue {
        color: blue;
    }

    .text-yellow {
        color: yellow;
    }

    .text-green {
        color: green;
    }

    .text-info {
        color: #17a2b8;
    }

    .text-black {
        color: black;
    }

    .text-purple {
        color: purple;
    }

    .text-orange {
        color: orange;
    }

    .text-beige {
        color: beige;
    }

    .text-bronze {
        color: bronze;
    }

    .text-brown {
        color: brown;
    }

    .text-burgundy {
        color: #800020;
    }

    .text-charcoal {
        color: #36454f;
    }

    .text-coffee {
        color: #4b3621;
    }

    .text-cream {
        color: #f5f5dc;
    }

    .text-fluorescent-green {
        color: #ccff00;
    }

    .text-gold {
        color: gold;
    }

    .bi-heart-fill {
        color: red;
    }